//color
$white: #fff;
$black: #000;

//font-size
$primary-font: 1.5rem;

//padding
$small-padding: 1rem 3rem;

//border:
$default-border: 2px solid white;
$hover: 1px solid orange;

//text-transfornation
$upper: uppercase;

//container-height
$container-height: 55rem;

//opacity
$default-opacity: 0.5;
